html {
  font-family: "PT Sans", Arial, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  width: 320px;
  margin: 0 auto;
  text-transform: uppercase; }

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: none;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%); }

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff") format("woff"), url("../fonts/ptsans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff") format("woff"), url("../fonts/ptsansbold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal; }

@media (min-width: 768px) {
  body {
    width: 768px; } }

@media (min-width: 1200px) {
  body {
    width: 1200px;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
    background-color: #ffffff; }
  html {
    background: #f2f2f2; } }

.features__item--blue {
  background-color: #81b3d2;
  padding: 22px 0; }

.features__item--wrapper {
  padding: 26px 0 28px; }

.features__item--wrapper2 {
  padding-top: 0; }

.features__item--margin {
  padding-top: 64px; }

.features__picture img {
  max-width: 100%;
  height: auto;
  display: block; }

@media (min-width: 768px) {
  .features__item--wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0; }
  .features__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .features__wrapper--reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
  .features__item--blue {
    min-width: 256px;
    padding: 33px 0; }
  .features__item--margin {
    padding-top: 32px; }
  .features__picture img {
    display: block;
    height: auto;
    max-width: 100%; } }

@media (min-width: 1200px) {
  .features__item--blue, .features__item--margin {
    padding: 52px 0; }
  .features__wrapper {
    height: 256px;
    overflow: hidden; } }

.info__title {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  line-height: 26px;
  text-align: center;
  padding: 0 27px;
  margin-top: 37px;
  margin-bottom: 28px; }

.info__desc {
  font-size: 14px;
  color: #333333;
  line-height: 26px;
  text-align: center;
  padding: 0 20px;
  margin-bottom: 0; }

.info__image {
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-color: #dbe9f2;
  background-position: center top;
  background-repeat: no-repeat;
  min-height: 390px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .info__image {
    background-image: url(../img/bg-back-mobile@2x.jpg); } }

.info__image::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 30px;
  background: url(../img/bg-intro-triangle-mobile.svg) center top no-repeat;
  background-size: cover;
  bottom: 0;
  left: 0; }

.info__picture {
  display: block;
  margin: 0 auto; }

.info__text-block {
  position: relative; }

.info__text-block::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 40px;
  background: url(../img/bg-triangle.svg) center bottom no-repeat;
  top: 100%;
  left: 0;
  z-index: 1;
  background-size: cover; }

.info__image--form {
  min-height: 160px;
  background-position: center center; }

.info__text-block--inside::after {
  display: none; }

@media (min-width: 768px) {
  .info__text-block {
    max-width: 488px;
    margin: 0 auto;
    text-align: center; }
  .info__text-block::after {
    display: none; }
  .info__title {
    font-size: 21px; }
  .info__title--inside {
    font-size: 30px;
    line-height: 26px; }
  .info__image {
    min-height: 520px;
    background-image: url(../img/bg-back-tablet@1x.jpg); }
  .info__image::after {
    background-image: url(../img/bg-intro-triangle-tablet.svg);
    height: 60px;
    background-size: 100% 100%;
    bottom: -2px; }
  .info__picture {
    width: 464px;
    height: auto; }
  .info__image--form {
    min-height: 290px; } }

@media (min-width: 768px), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .info__image {
    background-image: url(../img/bg-back-tablet@2x.jpg); } }

@media (min-width: 1200px) {
  .info__image {
    background-image: url(../img/bg-back-desktop@1x.jpg); }
  .info__image::after {
    background-image: url(../img/bg-intro-triangle-desktop.svg); }
  .info__text-block--inside {
    margin: 70px auto; }
  .info__image--form {
    max-height: 300px;
    min-height: 300px; }
  .info__text-block--front {
    padding: 30px 0; } }

@media (min-width: 1200px), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .info__image {
    background-image: url(../img/bg-back-desktop@2x.jpg); } }

.main-nav__link {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  line-height: 40px;
  text-decoration: none;
  display: block;
  padding: 8px 0 7px;
  text-align: center;
  border-top: 1px solid #9ac2db;
  -webkit-box-shadow: 0 -1px 0 0 #678fa8;
          box-shadow: 0 -1px 0 0 #678fa8; }

.main-nav__list {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0; }

.main-nav__list::after {
  position: absolute;
  content: "";
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7px;
  background: url(../img/shadow.png) center center repeat-x; }

.main-nav__logo {
  display: table;
  margin: 0 auto -43px; }

.main-nav {
  position: relative; }

.main-nav__toggle-btn {
  position: absolute;
  right: 14px;
  bottom: 58px;
  background: transparent;
  border: none; }

.main-nav__toggle-btn svg {
  fill: #81b3d2; }

.main-nav__link:hover, .main-nav__link:focus {
  background: #669ec0; }

.main-nav__link:active {
  background: #5496bd;
  color: rgba(255, 255, 255, 0.3); }

.main-nav__link--active {
  color: #766357; }

.main-nav__link--active:hover, .main-nav__link--active:focus {
  color: #604e43; }

.main-nav__link--active:active {
  opacity: 0.3; }

@media (min-width: 768px) {
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .main-nav__list::after {
    display: none; }
  .main-nav__logo {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  .main-nav__toggle-btn {
    display: none; }
  .main-nav__link {
    color: #000000;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    font-size: 14px;
    line-height: 26px; }
  .main-nav__link:hover, .main-nav__link:focus {
    color: #8bb9d5;
    background: none; }
  .main-nav__link:active {
    color: #cacaca; }
  .main-nav__link--active {
    color: #766357; }
  .main-nav__link--active:hover, .main-nav__link--active:focus {
    color: #604e43; }
  .main-nav__link--active:active {
    opacity: 0.3; } }

.map {
  margin: 0px;
  position: relative; }

.map img {
  max-width: 100%; }

@media (min-width: 768px) {
  .map {
    width: 100%; } }

.map iframe {
  border: none;
  height: 350px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.page-footer {
  text-align: center;
  padding: 0px; }

.page-footer__tag {
  display: table;
  font-size: 21px;
  font-weight: 700;
  color: #000;
  line-height: 26px;
  text-decoration: none;
  margin: 22px auto; }

.page-footer__desc {
  font-size: 14px;
  color: #000;
  line-height: 26px;
  margin-right: 12px; }

.page-footer__made-by {
  padding: 40px 0 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

@media (min-width: 768px) {
  .page-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 648px;
    margin-left: auto;
    margin-right: auto; }
  .page-footer__made-by {
    padding: 0;
    margin-right: 20px; }
  .page-footer__last-block {
    margin-left: 20px; } }

@media (min-width: 1200px) {
  .page-footer__container {
    padding-top: 25px;
    padding-bottom: 25px; }
  .page-footer {
    max-width: 960px; } }

.page-footer__made-by-link:hover svg, .page-footer__made-by-link:focus svg {
  fill: #81b3d2; }

.page-footer__made-by-link:active svg {
  fill: #b2b2b2; }

.page-header {
  position: relative;
  z-index: 1; }

.picture-block__title {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  line-height: 26px;
  text-align: center;
  padding: 0 20px; }

.picture-block__number, .picture-block__desc {
  font-size: 14px;
  color: #ffffff;
  line-height: 21px;
  text-align: center;
  padding: 0 20px; }

.picture-block__number {
  margin: 0 auto;
  display: table; }

@media (min-width: 768px) {
  .picture-block__title {
    font-size: 21px;
    padding: 0 35px; } }

.search-hotel {
  text-align: center;
  padding: 30px 20px; }

.search-hotel__btn {
  background-color: #81b3d2;
  font-size: 21px;
  font-weight: 700;
  color: #fff;
  line-height: 26px;
  width: 280px;
  display: table;
  padding: 16px;
  text-decoration: none;
  margin: 42px 0 18px; }

.search-hotel__title {
  font-size: 21px;
  font-weight: 700;
  color: #000;
  line-height: 26px;
  margin: 0 0 32px; }

.search-hotel__desc {
  font-size: 14px;
  color: #333;
  line-height: 24px; }

@media (min-width: 768px) {
  .search-hotel {
    max-width: 458px;
    margin: 0 auto;
    text-align: center;
    padding-left: 0;
    padding-right: 0; }
  .search-hotel__btn {
    width: 100%;
    padding: 17px; }
  .search-hotel__title {
    font-size: 30px; } }

.search-hotel__btn:hover, .search-hotel__btn:focus {
  background: #669ec0; }

.search-hotel__btn:active {
  background: #5496bd;
  color: #94b9d2; }

.site-list__item {
  background-color: #81b3d2; }

@media (min-width: 768px) {
  .site-list__item {
    width: 20%;
    background-color: transparent; }
  .site-list__item:nth-child(2) {
    margin-right: 10%; }
  .site-list__item:nth-child(3) {
    margin-left: 10%; } }

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.socials__btn {
  background-color: #81b3d2;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 46px;
  height: 48px;
  margin: 0 3px; }

.socials__btn svg {
  fill: #fff; }

.socials__btn:hover, .socials__btn:focus {
  background: #669ec0; }

.socials__btn:active {
  background: #5496bd; }

.socials__btn:active svg {
  opacity: 0.3; }

.space-block {
  background-color: #eeeeee;
  text-align: center;
  padding: 11px 20px;
  position: relative; }

.space-block::before {
  position: absolute;
  display: block;
  content: "";
  height: 1px;
  width: calc(100% - 40px);
  background-color: #d6d6d6;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto; }

.space-block:first-child::before {
  display: none; }

.space-block__title {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  line-height: 26px; }

.space-block__number, .space-block__desc {
  font-size: 14px;
  color: #333;
  line-height: 21px; }

@media (min-width: 768px) {
  .space-block {
    width: 33.333333%;
    padding: 11px 20px; }
  .space-block__title {
    font-size: 21px;
    padding: 0 30px; }
  .space-block::before {
    display: none; } }

@media (min-width: 1200px) {
  .space-block {
    padding: 39px 61px; }
  .space-block__title {
    padding: 0 60px; } }

.unpicture-block {
  padding: 0 20px; }

.unpicture-block__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 700;
  color: #000;
  line-height: 26px;
  margin: 0; }

.unpicture-block--house h2 {
  padding: 6px 0px;
  margin: 0 -8px; }

.unpicture-block--house p {
  margin-top: 3px; }

.unpicture-block p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
  padding-left: 51px;
  margin: 18px 0; }

.unpicture-block .unpicture-block__title::before {
  width: 40px;
  margin-right: 15px;
  display: block;
  content: "";
  background-size: 100% 100%;
  background-position: left center;
  background-repeat: no-repeat; }

.unpicture-block--house .unpicture-block__title::before {
  background-image: url(../img/icon-house.svg);
  height: 36px;
  margin-left: 8px;
  margin-right: 10px; }

.unpicture-block--souvenirs .unpicture-block__title::before {
  background-image: url(../img/icon-gift.svg);
  height: 38px; }

.unpicture-block--food .unpicture-block__title::before {
  background-image: url(../img/icon-burger.svg);
  height: 35px; }

@media (min-width: 768px) {
  .unpicture-block {
    width: 33.333333%;
    text-align: center;
    margin-top: 35px; }
  .unpicture-block .unpicture-block__title {
    font-size: 21px;
    padding-left: 0;
    padding-top: 102px;
    position: relative;
    display: block; }
  .unpicture-block .unpicture-block__title::before {
    width: 78px;
    height: 70px;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-right: 0;
    position: absolute; }
  .unpicture-block p {
    padding: 0; } }

.media {
  padding: 0 20px; }

.media__video-bar {
  background-color: #f2f2f2; }

.media__video-black-block {
  background-color: rgba(0, 0, 0, 0.6); }

.media__item-title, .media__item-likes-count {
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  line-height: 24px; }

.media__item-title {
  margin: 22px 0 8px; }

.media__item-text-author {
  font-size: 14px;
  color: #333333;
  line-height: 24px;
  text-transform: initial;
  margin-bottom: 12px;
  display: block; }

.media__title-video {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  line-height: 26px; }

.media__item-video-desc {
  font-size: 14px;
  color: #333333;
  line-height: 24px; }

.media__item-like-link {
  display: table;
  text-decoration: none;
  margin-right: 15px; }

.media__item-like-link svg {
  fill: #b2b2b2; }

.media__item-likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.media__wrapper {
  padding: 22px 0;
  position: relative; }

.media__wrapper::after, .media__wrapper:first-child::before {
  position: absolute;
  display: block;
  content: "";
  height: 1px;
  width: calc(100% + 40px);
  background-color: #e2e2e2;
  left: -20px; }

.media__wrapper::after {
  bottom: 0; }

.media__wrapper:first-child::before {
  top: 0; }

.media__video-info {
  position: relative;
  margin-bottom: 148px; }

.media__video-black-block {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  width: 280px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0; }

.media__video-line {
  background-color: rgba(255, 255, 255, 0.2);
  width: 235px;
  height: 3px;
  position: relative; }

.media__video-white-dot {
  position: absolute;
  top: 50%;
  left: 36px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #ffffff;
  border-radius: 100%;
  width: 10px;
  height: 10px; }

.media__video-bar {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 100%;
  background-color: #f2f2f2;
  width: 280px;
  height: 66px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding: 0 10px; }

.media__video-bar button {
  padding: 0;
  background: none;
  border: none;
  margin: 0 15px; }

.media__video-bar svg {
  fill: #5c6870; }

.media__video-bar .media__replay {
  margin-right: auto; }

.media__item img {
  display: block;
  max-width: 100%;
  height: auto; }

.media__item {
  margin: 0 -20px; }

.media__item-info {
  padding: 0 20px; }

.media__item-wrapper {
  padding: 0 20px; }

.media__btn:hover svg {
  fill: #333333; }

.media__btn:active svg {
  fill: #b8b8b8; }

@media (min-width: 768px) {
  .media {
    padding: 0; }
  .media__title-video {
    font-size: 30px;
    max-width: 440px;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
  .media__item-video-desc {
    max-width: 440px;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
  .media__images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .media__wrapper {
    width: 50%;
    padding: 0; }
  .media__wrapper--full {
    width: 100%; }
  .media__wrapper::after, .media__wrapper:first-child::before {
    display: none; }
  .media__item-info {
    background-color: #f2f2f2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .media__item {
    margin: 0; }
  .media__video-black-block {
    position: relative;
    bottom: 0;
    background: none;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin: 0;
    padding-left: 20px; }
  .media__video-bar {
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: initial;
    bottom: 0; }
  .media__video-bar svg {
    fill: #ffffff; }
  .media__video-info {
    margin-bottom: 80px; }
  .media__video-line {
    width: 100%; }
  .media__btn:hover svg {
    fill: #c2c2c2; }
  .media__btn:active svg {
    fill: #949494; } }

@media (min-width: 1200px) {
  .media__wrapper {
    width: 33.333333%; }
  .media__wrapper--full {
    width: 100%; }
  .media__item-info {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0; }
  .media__item-title, .media__item-likes-count, .media__item-text-author {
    color: #ffffff; }
  .media__item-like-link svg {
    fill: #ffffff; }
  .media__video-info {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto; } }

.sedona-form__title {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  line-height: 26px;
  margin: 0 0 24px;
  text-align: center; }

.sedona-form__label {
  font-size: 14px;
  color: #333333;
  line-height: 26px;
  margin-right: 14px; }

.sedona-form__input {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  line-height: 26px;
  text-transform: initial;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 100px;
  padding: 12px 24px;
  background-color: #f2f2f2;
  border: 4px solid #f2f2f2; }

.sedona-form__submit {
  background-color: #81b3d2;
  font-size: 21px;
  font-weight: 700;
  color: #fff;
  line-height: 26px; }

.sedona-form__desc-emotions {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  line-height: 26px; }

.sedona-form__label--radio, .sedona-form__label--checkbox {
  text-transform: initial; }

.sedona-form__input::-webkit-input-placeholder, .sedona-form__desc-emotions::-webkit-input-placeholder {
  opacity: 1;
  color: #000; }

.sedona-form__input:-ms-input-placeholder, .sedona-form__desc-emotions:-ms-input-placeholder {
  opacity: 1;
  color: #000; }

.sedona-form__input::-ms-input-placeholder, .sedona-form__desc-emotions::-ms-input-placeholder {
  opacity: 1;
  color: #000; }

.sedona-form__input::placeholder, .sedona-form__desc-emotions::placeholder {
  opacity: 1;
  color: #000; }

.sedona-form__section {
  border-top: 1px solid #e5e5e5;
  padding: 24px 20px; }

.sedona-form__section--border {
  border: none; }

.sedona-form__submit {
  width: 280px;
  padding: 11px;
  border: none;
  text-transform: uppercase; }

.sedona-form__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px; }

.sedona-form__block:first-of-type {
  margin-top: 0; }

.sedona-form__block--contacts {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.sedona-form__block--contacts label {
  position: relative;
  width: 100%;
  margin: 0; }

.sedona-form__block--contacts label::after {
  display: block;
  content: "";
  position: absolute;
  right: 0;
  top: 100%;
  width: 58px;
  height: 58px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #e6e6e6; }

.sedona-form__label--phone::after {
  background-image: url(../img/icon-phone.svg); }

.sedona-form__label--mail::after {
  background-image: url(../img/icon-mail.svg); }

.sedona-form__label--radio, .sedona-form__block--checkbox {
  position: relative;
  padding: 16px 0 16px 80px;
  color: #000000;
  font-weight: 700;
  line-height: 26px;
  font-size: 18px; }

.sedona-form__label--radio::before {
  display: block;
  content: "";
  position: absolute;
  width: 58px;
  height: 58px;
  background-color: #f2f2f2;
  border-radius: 100%;
  left: 0;
  top: 0; }

.sedona-form__radio:checked + .sedona-form__label--radio::after {
  display: block;
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  background-color: #333333;
  border-radius: 100%;
  left: 18px;
  top: 18px; }

.sedona-form__label--checkbox::before {
  display: block;
  content: "";
  position: absolute;
  width: 58px;
  height: 58px;
  background-color: #f2f2f2;
  border-radius: 4px;
  left: 0;
  top: 0; }

.sedona-form__checkbox:checked + .sedona-form__label--checkbox::after {
  background: url(../img/icon-tick.svg) center center no-repeat;
  display: block;
  content: "";
  position: absolute;
  width: 24px;
  height: 16px;
  left: 16px;
  top: 20px;
  background-size: 100% 100%; }

.sedona-form__desc-emotions {
  width: 280px;
  height: 160px;
  background-color: #f2f2f2;
  padding: 22px;
  border: 5px solid #f2f2f2; }

.sedona-form__info {
  display: none; }

@media (min-width: 768px) {
  .sedona-form__info {
    display: block;
    font-size: 14px;
    line-height: 26px;
    color: #333333; }
  .sedona-form__section--border {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .sedona-form__desc-emotions {
    width: 100%;
    height: 160px; }
  .sedona-form__section {
    width: 100%;
    border: none; }
  .sedona-form__section--rows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 458px;
    margin-left: auto;
    margin-right: auto; }
  .sedona-form__block--checkbox {
    width: 50%;
    margin-top: 30px; }
  .sedona-form__block--checkbox:first-of-type {
    margin-top: 30px; }
  .sedona-form__title {
    width: 100%;
    font-size: 21px;
    line-height: 26px; }
  .sedona-form__title span {
    position: relative;
    display: table;
    margin: 0 auto; }
  .sedona-form__title span::before, .sedona-form__title span::after {
    position: absolute;
    display: block;
    content: "";
    background: #dbdbdb;
    width: 200%;
    top: 50%;
    height: 1px; }
  .sedona-form__title span::before {
    right: 100%;
    margin-right: 60px; }
  .sedona-form__title span::after {
    left: 100%;
    margin-left: 60px; }
  .sedona-form__sections {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .sedona-form__section--imagion {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }
  .sedona-form__section--imagion, .sedona-form__section--main {
    width: 48%; }
  .sedona-form {
    max-width: 648px;
    margin: 0 auto;
    overflow: hidden; }
  .sedona-form__submit {
    width: 324px;
    padding: 17px; } }

@media (min-width: 1200px) {
  .sedona-form__section--rows {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-width: 100%; }
  .sedona-form__block--checkbox {
    width: 23%; }
  .sedona-form {
    max-width: 960px; }
  .sedona-form__section--info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .sedona-form__block--contacts {
    width: 48%;
    margin-top: 0;
    position: relative;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
  .sedona-form__block--contacts label {
    width: auto;
    margin-right: 18px;
    position: initial;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .sedona-form__block--contacts label::after {
    top: 0; }
  .sedona-form__submit {
    width: 480px; } }

.sedona-form__radio:focus + .sedona-form__label--radio::before,
.sedona-form__label--radio:hover::before {
  background: #e5e5e5; }

.sedona-form__label--radio:active::before {
  background: #d5d5d5; }

.sedona-form__label--radio:active::after, .sedona-form__radio:checked + .sedona-form__label--radio:active::after {
  background: #a4a4a4; }

.sedona-form__radio:focus + .sedona-form__label--radio::before {
  outline: 1px solid; }

.sedona-form__checkbox:focus + .sedona-form__label--checkbox::before,
.sedona-form__label--checkbox:hover::before {
  background: #e5e5e5; }

.sedona-form__label--checkbox:active::before {
  background: #d5d5d5; }

.sedona-form__label--checkbox:active::after, .sedona-form__checkbox:checked + .sedona-form__label--checkbox:active::after {
  opacity: 0.3; }

.sedona-form__checkbox:focus + .sedona-form__label--checkbox::before {
  outline: 1px solid; }

.sedona-form__input:hover, .sedona-form__desc-emotions:hover {
  background-color: #e5e5e5;
  border-color: #e5e5e5; }

.sedona-form__input:focus, .sedona-form__desc-emotions:focus {
  background-color: #fff;
  border-color: #e5e5e5; }

.sedona-form__submit:hover, .sedona-form__submit:focus {
  background: #669ec0; }

.sedona-form__submit:active {
  background: #5496bd;
  color: #94b9d2; }
