.site-list__item {
    background-color: #81b3d2;
}
@media(min-width:$tablet) {
    .site-list__item {
        width: 20%;
        background-color: transparent;
    }
    .site-list__item:nth-child(2) {
        margin-right: 10%;
    }
    .site-list__item:nth-child(3) {
        margin-left: 10%;
    }
    
}